<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:preserveLegacyExternalStorage="false"
        android:requestLegacyExternalStorage="false"   
        tools:replace="android:preserveLegacyExternalStorage, android:requestLegacyExternalStorage" >
    </application>

</manifest>